<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>

  {{ template "_internal/google_analytics.html" . }}

  <!-- begin global wrap -->
  <div class="global-wrap">

    {{ if and (.Site.Params.hero.enable) (.Site.Params.hero.hero__image) (.IsHome) }}
    <!-- begin hero image -->
    <div class="hero__image">
      <div class="hero__image__inner">
        <img class="lazy" data-src="{{.Site.Params.hero.hero__image}}" alt="{.Site.Params.hero.hero__title}}">
      </div>
    </div>
    <!-- end hero image -->
    {{ end }}

    {{ partial "header.html" . }}
  
    <!-- begin content -->
    <main class="content" aria-label="Content">
      {{ block "main" . }}{{ end }}
    </main>
    <!-- end content -->

    {{ partial "subscribe.html" . }}
  
    {{ partial "footer.html" . }}

  </div>
  <!-- end global wrap -->

  {{ partial "javascripts.html" . }}

  <!-- mermaid support -->
  {{ if .Store.Get "hasMermaid" }}
    <script type="module">
      import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
      mermaid.initialize({
        startOnLoad: true,
        theme: "base",
        themeVariables: {
          primaryColor: "#1a2430",       // Node backgrounds
          primaryTextColor: "#36b584" ,   // Node text color
          primaryBorderColor: '#20755d',
          lineColor: "#F8B229",          // Arrows / Lines
          fontFamily: 'Noto Sans Display, Noto Serif',
          background: "#111827"
        }
      });
    </script>
  {{ end }}
</body>

</html>